<!DOCTYPE HTML>
<html lang="en">

<head>
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-4nNRrD5Z1wLdD1YUw8buAcHRCXGPWrA&sensor=true"></script>
 <script type="text/javascript" src="static/js/jquery-1.7.1.min.js" ></script>
 <script type="text/javascript" src="static/js/base.js" ></script>
 <link rel="stylesheet" type="text/css" href="static/css/base.css">
</head>

<body>
<div id="container">
  <form id="search_box" name="search_box">
    <div class="wrapper">
      <input type="text" id="search" name="search" placeholder="Enter in New Location" />
      <button type="submit" class="search_btn"><img src="static/artwork/search_icon.png" title="Search" /></button>
    </div>
  </form>
  <div id="output"></div>
</div>
</body>

</html>