<!DOCTYPE html>

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/slideshow.css" />
    <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"/></script>
    <script type="text/javascript" src="../static/js/slideshow.js"/></script>
    <title>Amplify</title>
  </head>

  <body>
    <div id="banner">
        <h1>Toscanini's</h1>
    </div>

<div id="event">
<h1>AngelHack @ Cambridge Innovation Center</h1>
</div>

<div class="image-view panel">
<div class="image">what
  <img src="http://distilleryimage7.instagram.com/3e917a22654b11e180c9123138016265_7.jpg"/>
</div>

</div>

<div class="image-view2 panel">
<div class="image">hi
  <img src="http://distilleryimage7.instagram.com/3e917a22654b11e180c9123138016265_7.jpg"/>
</div>
</div>

  </body>
</html>
