<!DOCTYPE html>

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/slideshow.css" />
    <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"/></script>
    <script type="text/javascript" src="../static/js/slideshow.js"/></script>
    <title>Amplify</title>
  </head>

  <body>
    <div id="banner">
        <h1>Toscanini's</h1>
    </div>

<div id="event">
<h1>AngelHack @ Cambridge Innovation Center</h1>
</div>

<div id="1" class="image-view panel">
<div class="image">
<img src="http://distilleryimage7.instagram.com/3e917a22654b11e180c9123138016265_7.jpg"/>
</div>
</div>

<div id="2" class="text-view panel">
  <div class="tweet">
<div class="icon"><img src="https://twimg0-a.akamaihd.net/profile_images/1869921218/RelatedRiver_Logo_normal.jpg"/></div>
  <div class="tweet-content">
    <div class="name">RelatedRiver</div>
    <div class="username">@RelatedRiver</div>
    <div class="time">2m</div>
<br class="clear"/>
    <div>Notes from the floor (and we have some down there) gigaom.com/2012/03/03/ang… via @GigaBarb #AngelHack #Boston</div>
  </div>
  <br class="clear"/>
  </div>
</div>


  </body>
</html>
