<html>
<head>
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-4nNRrD5Z1wLdD1YUw8buAcHRCXGPWrA&sensor=true"></script>
 <script type="text/javascript" src="static/js/jquery-1.7.1.min.js" ></script>
 <script type="text/javascript" src="static/js/base.js" ></script>
 <link rel="stylesheet" type="text/css" href="static/css/views.css">

 <script type="text/javascript">
  $(document).ready(function() {
    start_fetching("{{ searchkey }}");
  });
 </script>
</head>
<body>
  <div id="headline">
    <!--<h3>Cambridge, MA</h3> -->
    <h2>Angel Hackathon Wows the Kendall Square Clientele</h2>
  </div>
  <!--<div id="icon"><img src="static/artwork/treeship.png"></div>-->
<div id = "overlayB">
</div>
<div id="background-text">

</div>

</body>
</html>
