body { background:#ff0000; background-image:url('00.png'); font:100% Helvetica, Arial, sans-serif; padding-top:50px; }

h1, h2 { color:#fff; }

#container { margin:0 auto; width:570px; }

#search_box { 
	background:-moz-linear-gradient(top, #E8D740, #EAD944); 
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500)); 
	border:1px solid #d28703; 
	border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	-webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	padding:9px;
	width:570px;
}

#search_box .wrapper { 
	background:#fff; 
	border:1px solid #d28703;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; 
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; 
	height:50px;
	padding-left:10px; 
	position:relative;
}

#search_box input,
#search_box input:focus { border:none; color:#333; outline:none; font:bold 24px Helvetica, Arial, sans-serif; margin:12px 0; width:510px; }
